/*==================================
  Top
==================================*/
#Top main {

  .sect_1{
    margin-top: 80px;
    .wrapper{
      background-color: #d1e1ed;
      padding-top: 70px;
      padding-bottom: 50px;
      h3{
        @include Noto_Sans(500);
        font-size: 36px;
        color: #000;
        text-align: center;

        p{
          @include Roboto(500);
          font-size: 16px;
          color: #0081cc;
          margin-top: 15px;
        }
      }
    }
    .breadcrumb_cont{
      margin-top: 10px;
      .breadcrumb{
        list-style: none;
        display: flex;
        li{
          display: flex;
          align-items: center;
          margin-right: 20px;
          position: relative;

          &:not(:last-child){
            &::after{
              content: "\003E";
              font-size: 12px;
              color: #4e4a46;
              position: absolute;
              right: -15px
            }
          }

          a{
            @include Noto_Sans(400);
            font-size: 12px;
            color: #4e4a46;
            display: flex;
            img{
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }
  }

  .sect_2{
    .wrapper{
      padding-top: 80px;
      .container{
        max-width: 1200px !important;
        padding-right: 60px !important;
        padding-left: 60px !important;

        .txt_cont{
          max-width: 720px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 60px;

          p{
            @include Noto_Sans(400);
            font-size: 16px;
            color: #000;
            line-height: 24px;
            text-align: left;
            text-indent: 20px;
            
            &:nth-of-type(1){
              margin-bottom: 70px;
            }
            &:nth-of-type(2){
              letter-spacing: -.5px;
              margin-bottom: 65px;
            }
            &:nth-of-type(3){
              text-indent: 0px;
              text-align: center;
              margin-bottom: 50px;
            }
          }

          h3{
            @include Noto_Sans(500);
            font-size: 42px;
            color: #000;
            text-align: center;
            
            span{
              display: block;
              // @include Noto_Sans(500);
              @include Roboto(500);
              color: #0081cc;
              font-size: 20px;
              margin-top: 20px;
              position: relative;

              &::after{
                content: "";
                display: block;
                width: 40px;
                height: 5px;
                background-color: #0081cc;
                border-radius: 2.5px;
                margin: 20px auto 40px;
              }
            }
          }
          h4{
            @include Noto_Sans(500);
            font-size: 32px;
            color: #0081cc;
            text-align: center;
            margin-bottom: 40px;
          }
        }

        .img_cont{
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
          position: relative;

          .img_2{
            width: 95px;
            position: absolute;
            bottom: 60px;
            right: -110px;
          }
        }

        // .img_cont{
        //   width: 500px;
        //   height: 500px;
        //   margin: 0 auto;
        //   border: 1px solid;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   position: relative;
        //   .img_center{
        //     width: 130px;
        //   }
        //   .bg_img{
        //     width: 156px;
        //     .txt{
        //       width: 100%;
        //       position: absolute;
        //       top: 50%;
        //       left: 50%;
        //       transform: translate(-50%, -50%);
        //       p{
        //         text-align: center;
        //         @include Roboto(500);
        //         font-size: 60px;
        //         color: #46b035;
        //         line-height: 35px;
        //         span{
        //           @include Roboto(500);
        //           font-size: 16px;
        //           color: #46b035;
        //         }
        //       }
        //       span{
        //         display: block;
        //         text-align: center;
        //         @include Noto_Sans(400);
        //         font-size: 14px;
        //         color: #000;
        //       }
        //     }
        //     &.bg_t{
        //       position: absolute;
        //       top: 0;
        //       right: 0;
        //       left: 0;
        //       margin: 0 auto;
        //     }
        //     &.bg_b{
        //       position: absolute;
        //       bottom: 0;
        //       right: 0;
        //       left: 0;
        //       margin: 0 auto;

        //       .txt{
        //         top: 55%;
        //         p{
        //           color: #d0121b;
        //           span{
        //             color: #d0121b;
        //           }
        //         }
        //         span{
        //           color: #000;
        //         }
        //       }
        //     }
        //     &.bg_bl{
        //       position: absolute;
        //       bottom: 80px;
        //       right: 0;
        //       left: 0;
        //       img{
        //         transform: rotate(65deg);
        //       }
        //       .txt{
        //         top: 53%;
        //         left: 46%;
        //         p{
        //           color: #d0121b;
        //           span{
        //             color: #d0121b;
        //           }
        //         }
        //         span{
        //           color: #000;
        //         }
        //       }
        //     }
        //     &.bg_br{
        //       position: absolute;
        //       bottom: 80px;
        //       right: 0;
        //       img{
        //         transform: rotate(112deg);
        //       }
        //       .txt{
        //         top: 55%;
        //         left: 54%;
        //         p{
        //           color: #f39700;
        //           span{
        //             color: #f39700;
        //           }
        //         }
        //         span{
        //           color: #000;
        //         }
        //       }
        //     }
        //   }
        // }
      }
    }
  }

  .sect_3{
    .wrapper{
      padding-top: 100px;
      .container{
        h3{
          @include Noto_Sans(500);
          font-size: 32px;
          color: #fff;
          text-align: center;
          background-color: #4390bd;
          padding-top: 30px;
          padding-bottom: 30px;
          position: relative;
          margin-bottom: 20px;
          &::after{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background-color:#4390bd;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 6px) rotate(45deg);
          }

          br{
            display: none;
          }
        }
        .row{
          .col{
            padding: 30px 50px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 20px;
            .img_cont{
              width: 23%;
              position: relative;
              .img_tl{
                width: 30%;
                position: absolute;
                top: -25px;
                left: -25px;
              }
            }
            .txt_cont{
              width: 74.5%;

              div{
                margin-bottom: 15px;
                p{
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  img{
                    width: 10%;
                  }
                  span{
                    @include Noto_Sans(500);
                    font-size: 24px;
                    color: #46b035;
                    margin-left: 25px;
                  }
                }
              }
              p{
                @include Noto_Sans(400);
                font-size: 16px;
                color: #000;
                line-height: 24px;
              }
            }

            &.itm{
              background-color: #f1ffef;
              border: 1px solid #99e68f;

              &:nth-of-type(2){
                .txt_cont{
                  p{
                    letter-spacing: -1px;
                  }
                }
              }
              &:nth-of-type(3){
                background-color: #fff9ef;
                border: 1px solid #ffd898;
                .txt_cont{
                  div{
                    p{
                      span{
                        color: #f39700;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(4){
                background-color: #fff7f7;
                border: 1px solid #ffc9cc;
                .txt_cont{
                  div{
                    display: flex;
                    justify-content: flex-start;
                    p{
                      &:nth-of-type(2){
                        img{
                          width: 19%;
                        }
                      }
                      img{
                        width: 21.5%;
                      }
                      span{
                        letter-spacing: -2px;
                        color: #d0121b;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(5){
                background-color: #fff7f7;
                border: 1px solid #ffc9cc;
                .txt_cont{
                  div{
                    p{
                      span{
                        color: #d0121b;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(6){
                background-color: #f3fbff;
                border: 1px solid #b7dff6;
                .txt_cont{
                  div{
                    p{
                      span{
                        color: #0081cc;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(1n+7){
                background-color: #fff;
                border: 1px solid #cfcfcf;
                .txt_cont{
                  div{
                    p{
                      span{
                        color: #000;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .sect_4{
    .wrapper{
      padding-top: 100px;
      .container{
        h3{
          @include Noto_Sans(500);
          font-size: 32px;
          color: #0081cc;
          text-align: center;
          margin-bottom: 15px;
        }
        .row{
          .col{
            padding: 30px 55px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            &:not(:last-child){
              border-bottom: 1px solid #cfcfcf;
            }

            .img_cont{
              width: 81px;
              margin-right: 25px;
            }
            .txt_cont{
              width: calc(100% - 110px);
              p{
                @include Noto_Sans(500);
                font-size: 24px;
                color: #e4011e; 
                text-align: left;
                margin-bottom: 20px;

                img{
                  display: none;
                }
              }
              .list{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                &:not(:last-child){
                  margin-bottom: 10px;
                }
                span{
                  @include Noto_Sans(400);
                  font-size: 16px;
                  color: #fff; 
                  background-color: #e4011e;
                  padding: 7px 0;
                  width: 176px;
                  margin-right: 10px;
                  border-radius: 3px;
                  display: flex;
                  align-items: center;
                  justify-content: center
                }
                .list_sub{
                  width: calc(100% - 190px);
                  p{
                    @include Noto_Sans(400);
                    font-size: 16px;
                    color: #000 !important;
                    margin-bottom: 0;
                    margin-left: 50px;
                    text-indent: -50px;
                  }
                }
              }
            }

            &.itm{
              &:nth-of-type(2){
                .txt_cont{
                  p{
                    color: #1b973a;
                  }

                  .list{
                    span{
                      background-color: #1b973a;
                    }
                  }
                }
              }
              &:nth-of-type(3){
                .txt_cont{
                  p{
                    color: #c50e28;
                  }

                  .list{
                    span{
                      background-color: #c50e28;
                    }
                  }
                }
              }
              &:nth-of-type(4){
                .txt_cont{
                  p{
                    color: #e83418;
                  }

                  .list{
                    align-items: stretch;
                    span{
                      background-color: #e83418;
                    }
                  }
                }
              }
              &:nth-of-type(5){
                .txt_cont{
                  p{
                    color: #00a6d9;
                  }

                  .list{
                    span{
                      background-color: #00a6d9;
                    }
                  }
                }
              }
              &:nth-of-type(6){
                .txt_cont{
                  p{
                    color: #fabd00;
                  }

                  .list{
                    span{
                      background-color: #fabd00;
                    }
                  }
                }
              }
              &:nth-of-type(1n+7){
                .txt_cont{
                  .list{
                    .list_sub{
                      p{
                        margin-left: 60px;
                        text-indent: -60px;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(7){
                .txt_cont{
                  p{
                    color: #970a31;
                  }

                  .list{
                    align-items: stretch;
                    span{
                      background-color: #970a31;
                    }
                  }
                }
              }
              &:nth-of-type(8){
                .txt_cont{
                  p{
                    color: #f69100;
                  }

                  .list{
                    span{
                      background-color: #f69100;
                    }
                  }
                }
              }
              &:nth-of-type(9){
                .txt_cont{
                  p{
                    color: #c58700;
                  }

                  .list{
                    span{
                      background-color: #c58700;
                    }
                  }
                }
              }
              &:nth-of-type(10){
                .txt_cont{
                  p{
                    color: #407936;
                  }
                  .list{
                    span{
                      background-color: #407936;
                    }
                  }
                }
              }
              &:nth-of-type(11){
                .txt_cont{
                  p{
                    color: #0075ba;
                  }
                  .list{
                    span{
                      background-color: #0075ba;
                      letter-spacing: -1px;
                    }
                  }
                }
              }
              &:nth-of-type(12){
                .txt_cont{
                  p{
                    color: #004c88;
                  }
                  .list{
                    span{
                      background-color: #004c88;
                    }
                  }
                }
              }
              &:nth-of-type(13){
                .txt_cont{
                  p{
                    color: #023067;
                  }
                  .list{
                    span{
                      background-color: #023067;
                    }
                    .list_sub{
                      p{
                        margin-left: 35px;
                        text-indent: -35px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
