/*==================================
  Top
==================================*/
#Top main {

  .sect_1{
    margin-top: 40px;
    .wrapper{
      background-color: #d1e1ed;
      padding-top: 40px;
      padding-bottom: 40px;
      h3{
        @include Noto_Sans(500);
        font-size: 24px;
        color: #000;
        text-align: center;

        p{
          @include Roboto(500);
          font-size: 12px;
          color: #0081cc;
          margin-top: 10px;
        }
      }
    }
    .breadcrumb_cont{
      margin-top: 10px;
      .breadcrumb{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
          display: flex;
          align-items: center;
          margin-right: 20px;
          position: relative;

          &:not(:last-child){
            &::after{
              content: "\003E";
              font-size: 12px;
              color: #4e4a46;
              position: absolute;
              right: -15px
            }
          }

          a{
            @include Noto_Sans(400);
            font-size: 12px;
            color: #4e4a46;
            display: flex;
            img{
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }
  }

  .sect_2{
    .wrapper{
      padding-top: 40px;
      .container{
        .txt_cont{
          padding-top: 20px;

          p{
            @include Noto_Sans(400);
            font-size: 16px;
            color: #000;
            line-height: 24px;
            text-align: left;
            text-indent: 20px;
            
            &:nth-of-type(1){
              margin-bottom: 70px;
            }
            &:nth-of-type(2){
              margin-bottom: 50px;
            }
            &:nth-of-type(3){
              text-indent: 0;
              text-align: left;
              margin-bottom: 20px;
            }
          }

          h3{
            @include Noto_Sans(500);
            font-size: 24px;
            color: #000;
            text-align: center;
            
            span{
              display: block;
              @include Roboto(500);
              color: #0081cc;
              font-size: 12px;
              margin-top: 15px;
              position: relative;

              &::after{
                content: "";
                display: block;
                width: 40px;
                height: 5px;
                background-color: #0081cc;
                border-radius: 2.5px;
                margin: 20px auto 30px;
              }
            }
          }
          h4{
            @include Noto_Sans(500);
            font-size: 21px;
            color: #0081cc;
            text-align: center;
            margin-bottom: 17px;
          }
        }
        .img_cont{
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          text-align: center;
          .img_2{
            width: 70px;
            position: absolute;
            bottom: -30px;
            right: 70px;

            @include is-max(425px){
              width: 16.47%;
              right: 10%;
            }
          }
        }
      }
    }
  }

  .sect_3{
    .wrapper{
      padding-top: 100px;
      .container{
        h3{
          @include Noto_Sans(500);
          font-size: 18px;
          color: #fff;
          text-align: center;
          background-color: #4390bd;
          padding-top: 10px;
          padding-bottom: 10px;
          position: relative;
          margin-bottom: 25px;
          line-height: 24px;
          &::after{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background-color:#4390bd;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 6px) rotate(45deg);
          }

          br{
            display: block;
          }
        }
        .row{
          .col{
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-bottom: 15px;
            .img_cont{
              width: 100%;
              position: relative;
              img{
                width: 100%;
              }
              .img_tl{
                width: 77px;
                position: absolute;
                top: -10px;
                left: -12px;
              }
            }
            .txt_cont{
              width: 100%;
              margin-top: 10px;
              div{
                margin-bottom: 15px;
                p{
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  img{
                    width: 64px;
                  }
                  span{
                    @include Noto_Sans(500);
                    font-size: 18px;
                    color: #46b035;
                    text-indent: -20px;
                    margin-left: 30px;
                  }
                }
              }
              p{
                @include Noto_Sans(400);
                font-size: 16px;
                color: #000;
                line-height: 24px;
              }
            }

            &.itm{
              background-color: #f1ffef;
              border: 1px solid #99e68f;

              &:nth-of-type(1){
                .txt_cont{
                  div{
                    p{
                      span{
                        text-indent: -30px;
                        margin-left: 40px;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(2){
                .txt_cont{
                  p{
                    letter-spacing: -1px;
                  }
                }
              }
              &:nth-of-type(3){
                background-color: #fff9ef;
                border: 1px solid #ffd898;
                .txt_cont{
                  div{
                    p{
                      span{
                        color: #f39700;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(4){
                background-color: #fff7f7;
                border: 1px solid #ffc9cc;
                .txt_cont{
                  div{
                    p{
                      margin-bottom: 5px;
                      &:nth-of-type(1){
                        span{
                          text-indent: -20px;
                          margin-left: 30px;
                        }
                      }
                      span{
                        color: #d0121b;
                        text-indent: -30px;
                        margin-left: 40px;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(5){
                background-color: #fff7f7;
                border: 1px solid #ffc9cc;
                .txt_cont{
                  div{
                    p{
                      span{
                        color: #d0121b;
                        text-indent: -30px;
                        margin-left: 40px;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(6){
                background-color: #f3fbff;
                border: 1px solid #b7dff6;
                .txt_cont{
                  div{
                    p{
                      span{
                        color: #0081cc;
                        text-indent: -30px;
                        margin-left: 40px;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(1n+7){
                background-color: #fff;
                border: 1px solid #cfcfcf;
                .txt_cont{
                  div{
                    p{
                      span{
                        color: #000;
                        text-indent: -30px;
                        margin-left: 40px;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(8){
                background-color: #fff;
                border: 1px solid #cfcfcf;
                
                .img_cont{
                  padding: 60px 30px;
                }
              }
            }
          }
        }
      }
    }
  }

  .sect_4{
    .wrapper{
      padding-top: 30px;
      .container{
        h3{
          @include Noto_Sans(500);
          font-size: 24px;
          color: #0081cc;
          text-align: center;
          margin-bottom: 15px;
        }
        .row{
          .col{
            padding: 25px 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            &:not(:last-child){
              border-bottom: 1px solid #cfcfcf;
            }

            .img_cont{
              width: 81px;
              margin-right: 25px;
              display: none
            }
            .txt_cont{
              width: 100%;
              p{
                @include Noto_Sans(500);
                font-size: 18px;
                color: #e4011e; 
                text-align: left;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
               
                img{
                  width: 64px;
                  margin-right: 10px;
                }
              }
              .list{
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                flex-wrap: wrap;
                &:not(:last-child){
                  margin-bottom: 10px;
                }
                span{
                  @include Noto_Sans(400);
                  font-size: 13px;
                  color: #fff; 
                  background-color: #e4011e;
                  padding: 7px 0;
                  width: 146px;
                  margin-bottom: 10px;
                  border-radius: 3px;
                  display: flex;
                  justify-content: center;
                }
                .list_sub{
                  width: 100%;
                  p{
                    @include Noto_Sans(400);
                    font-size: 16px;
                    color: #000 !important;
                    margin-bottom: 0;
                    margin-left: 50px;
                    text-indent: -50px;
                  }
                }
              }
            }

            &.itm{
              &:nth-of-type(2){
                .txt_cont{
                  p{
                    color: #1b973a;
                  }

                  .list{
                    span{
                      background-color: #1b973a;
                    }
                  }
                }
              }
              &:nth-of-type(3){
                .txt_cont{
                  p{
                    color: #c50e28;
                  }

                  .list{
                    span{
                      background-color: #c50e28;
                    }
                  }
                }
              }
              &:nth-of-type(4){
                .txt_cont{
                  p{
                    color: #e83418;
                  }

                  .list{
                    span{
                      background-color: #e83418;
                    }
                  }
                }
              }
              &:nth-of-type(5){
                .txt_cont{
                  p{
                    color: #00a6d9;
                  }

                  .list{
                    span{
                      background-color: #00a6d9;
                    }
                  }
                }
              }
              &:nth-of-type(6){
                .txt_cont{
                  p{
                    color: #fabd00;
                  }

                  .list{
                    span{
                      background-color: #fabd00;
                    }
                  }
                }
              }
              &:nth-of-type(1n+7){
                .txt_cont{
                  .list{
                    .list_sub{
                      p{
                        margin-left: 60px;
                        text-indent: -60px;
                      }
                    }
                  }
                }
              }
              &:nth-of-type(7){
                .txt_cont{
                  p{
                    color: #970a31;
                  }

                  .list{
                    span{
                      background-color: #970a31;
                    }

                  }
                }
              }
              &:nth-of-type(8){
                .txt_cont{
                  p{
                    color: #f69100;
                  }

                  .list{
                    span{
                      background-color: #f69100;
                    }
                  }
                }
              }
              &:nth-of-type(9){
                .txt_cont{
                  p{
                    color: #c58700;
                  }

                  .list{
                    span{
                      background-color: #c58700;
                    }
                  }
                }
              }
              &:nth-of-type(10){
                .txt_cont{
                  p{
                    color: #407936;
                  }
                  .list{
                    span{
                      background-color: #407936;
                    }
                  }
                }
              }
              &:nth-of-type(11){
                .txt_cont{
                  p{
                    color: #0075ba;
                  }
                  .list{
                    span{
                      background-color: #0075ba;
                      letter-spacing: -1px;
                    }
                  }
                }
              }
              &:nth-of-type(12){
                .txt_cont{
                  p{
                    color: #004c88;
                  }
                  .list{
                    span{
                      background-color: #004c88;
                    }
                  }
                }
              }
              &:nth-of-type(13){
                .txt_cont{
                  p{
                    color: #023067;
                  }
                  .list{
                    span{
                      background-color: #023067;
                    }
                    .list_sub{
                      p{
                        margin-left: 35px;
                        text-indent: -35px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
